<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clicker</title>

    <!-- JS скрипт -->
    <script>
        var counterVal = 0;
    <!-- функция, которая увеличивает наш счетчик при вызове -->
    function incrementClick() {
        updateDisplay(++counterVal);
    }
    <!-- функция, выводящая новое значение счетчика в тело HTML -->
    function updateDisplay(val) {
        document.getElementById("counter-label").innerHTML = val;
    }
    </script>
</head>
<body>
    <!-- Соответственно сам счетчик и кнопка -->
<p id="counter-label">${name}</p>
<button type="button" onclick="incrementClick()">Click me</button>

    <!-- <h2 th:utext="${countDB}">..!..</h2> -->

  </body>
  </html>