<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clicker</title>

    <!-- JS скрипт -->
    <script th:inline="javascript">
        var counterVal = [[${message}]];
    <!-- Получаем переменную счетчика в JS скрипт -->

    <!-- функция, которая увеличивает наш счетчик при вызове -->
    function incrementClick() {
        updateDisplay(++counterVal);
    }
    <!-- функция, выводящая новое значение счетчика в тело HTML -->
    function updateDisplay(val) {
        document.getElementById("counter-label").innerHTML = val;
    }
    </script>
</head>
<body>
    <!-- Соответственно сам счетчик и кнопка -->
    <!-- С помощью тега Thymeleaf получаем переменную из контроллера -->
<p id="counter-label" th:utext="${message}">...</p>
<button type="button" onclick="incrementClick()">Click me</button>

  </body>
  </html>